.sliderMain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.head h1 {
    margin-top: 100px;
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.slide {
    margin-top: 50px;
    box-shadow: 0 0 6px 5px #68c12d, 0 0 8px 7px #68c12d, 0 0 8px 7px #68c12d, 0 0 7px 10px #68c12d;
}

.guide {
    cursor: help;
}

@media only screen and (max-width: 768px) {
    .slide {
        width: 400px !important;
    }
}